body {
  font-size:20px;
  padding-top: 80px; /* Get the content from under the navbar. */
}
#frame {
  box-shadow: 1px 1px 1px  rgba(0,0,0,.3);
  border: 1px solid #999;
}
.control {
  position: relative;
  margin-top:50px;
}
output {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -ms-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  width: 18px;
  height: 15px;
  text-align: center;
  color: white;
  border-radius: 3px;
  display: inline-block;
  font: bold 11px/13px Georgia;
  bottom: 175%;
  left: 10px;
  margin-left: -1%;
}
output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
#controls tr {
  height:50px;
}
#controls td,
#controls th {
  border:none;
  vertical-align:baseline;
}
.axis-value {
  font-size:.75em;
  width:100%;
}
.axis-label {
  width: 220px;
}
.axis-label.left {
  text-align: right;
}
.axis-label.right {
  text-align: left;
}
.qtip-custom {
  min-width: 20px;
}
.qtip-custom .qtip-content {
  text-align: center;
  width: auto;
}


